@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
	background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
	font-family: guardian-egyptt, georgia, serif;
	font-weight: 400;
	color: #D5641C;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0192B5;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}

.jumbotron {
	background-image: url('https://dl.dropboxusercontent.com/s/qvc0qw7usa9h5m6/bannerpottery.jpg?dl=0');
	h1 {
		margin: 0;
		font-family: guardian-egyptt, georgia, serif;
		color: white;
		font-size: 42px;
   		font-weight: 500;
    	line-height: 1.3em;
    	width: 580px;
	}
	h2 {
		font-family: guardian-egyptt, georgia, serif;
		color: white;
		font-size: 30px;
   		font-weight: 500;
    	line-height: 1.3em;
    	width: 580px;
	}
}

.thumbnail {
	height: 370px;
}

